@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.loading_container {

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.loading_container p {

    text-align: center;
    margin-top: 1.5rem;
    font-size: 2rem;

    letter-spacing: 0.2rem;
    font-weight: bolder;

    font-family: 'Kanit', sans-serif;

}




.second_container {

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 6rem;

}

img {
    width: 10rem;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.info {
    font-size: 2rem;
    padding: 2%;
    background: #FFF8BC;
    border-radius: 10px;
    letter-spacing: 0.2rem;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.info a {
    text-decoration: none;
    color: rgb(48, 105, 230);
}

i {
    margin: 0px 5px;
}

.fa-triangle-exclamation {
    margin-right: 8px;
    color: #FF7F3F;
}

button {
    padding: 1.5%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right top, #44be67, #45c66b, #46cd6f, #47d574, #48dd78);
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right top, #4ba452, #4daa51, #50b050, #53b54e, #57bb4c);
}

button a {
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
    letter-spacing: 0.5rem;
}


.hide--div {

    display: none;

}